<!DOCTYPE html>
<html>
    <head>
        <title>Edit your page</title>
    </head>
    <body>
        <h2>Edit your post</h2>
        <h3>post Username : @<%=post.username %></h3>
        <p>Post Id : <%=post.id %></p>

        <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
            <textarea rows="10" cols="35" name="content" ><%= post.content %></textarea>
            <button>Submit</button>
        </form>
    </body>
</html>