<!DOCTYPE html>
<html>
    <head>
        <title>Create New Post</title>
    </head> 
    <body>
        <form method="post" action="/posts">
            <input type="text" placeholder="Enter username" name="username"><br><br>
            <textarea name="content" placeholder="Write your content"></textarea><br><br>
                <button type="submit">submit Post</button>
                <button type="reset">Reset Post</button>

        </form>
    </body>
</html>